<nz-card nzTitle="Path Condition" 
    nzSize="small"
    [nzExtra]="moreTemplate">
    <span *ngIf="data.conditionType == 'START_END'">
        <span *ngIf="data.start">Starts with <b>{{context.activities[data.start]}}</b>&nbsp;</span>
        <span *ngIf="data.end">Ends with <b>{{context.activities[data.end]}}</b></span>
    </span>
    <span *ngIf="data.conditionType == 'RESPONSE'">
        Eventually followed by
    </span>
    <span *ngIf="data.conditionType == 'RESPONSE'">
        {{context.activities[data.start]}} -> {{context.activities[data.end]}}
    </span>
</nz-card>

<ng-template #moreTemplate>
    <a nz-popover
        nzPopoverTitle="Path Condition"
        nzPopoverTrigger="click"
        [nzPopoverContent]="contentTemplate">Edit</a>
        
    <nz-divider nzType="vertical"></nz-divider>

    <a (click)="doDelete()">Delete</a>
</ng-template>

<ng-template #contentTemplate>
    <form nz-form class="path-form">
        <nz-form-item>
            <nz-form-label [nzSm]="6" nzRequired nzFor="type">Path Type</nz-form-label>
            <nz-form-control [nzSm]="18">
                <nz-select name="type" [(ngModel)]="data.conditionType" nzPlaceHolder="Choose">
                    <nz-option nzValue="START_END" nzLabel="Start and End"></nz-option>
                    <nz-option nzValue="RESPONSE" nzLabel="Eventually followed by"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" nzRequired nzFor="start">Start Activity</nz-form-label>
            <nz-form-control [nzSm]="18">
                <nz-select name="start" [(ngModel)]="data.start" nzPlaceHolder="Choose">
                    <nz-option *ngFor="let activity of context.activities; let i = index" [nzValue]="i" [nzLabel]="activity"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" nzRequired nzFor="end">End Activity</nz-form-label>
            <nz-form-control [nzSm]="18">
                <nz-select name="end" [(ngModel)]="data.end" nzPlaceHolder="Choose">
                    <nz-option *ngFor="let activity of context.activities; let i = index" [nzValue]="i" [nzLabel]="activity"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>