<nz-breadcrumb>
    <nz-breadcrumb-item>Home</nz-breadcrumb-item>
    <nz-breadcrumb-item>Log Management</nz-breadcrumb-item>
    <nz-breadcrumb-item>{{logName}}</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="inner-content">
    <nz-table #basicTable [nzData]="annotations">
        <thead>
            <tr>
                <th>Column type</th>
                <th>Column name</th>
                <th>Code</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let annotation of basicTable.data">
            <td>{{annotation.columnType}}</td>
            <td>{{annotation.columnName}}</td>
            <td>{{annotation.code}}</td>
            <td>
                <a (click)="doDeleteAnnotation(annotation.id)">Delete</a>
            </td>
            </tr>
        </tbody>
    </nz-table>

    <form nz-form [nzLayout]="'inline'">
        <nz-form-item *ngIf="context">
            <nz-form-label>Type</nz-form-label>
            <nz-form-control>
                <nz-select style="width: 200px;" name="columnType" [(ngModel)]="addAnnotation.columnType" nzAllowClear nzPlaceHolder="Choose">
                    <nz-option nzValue="case_attribute" nzLabel="Case Attribute"></nz-option>
                    <nz-option nzValue="event_attribute" nzLabel="Event Attribute"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="context && addAnnotation.columnType == 'case_attribute'">
            <nz-form-label>Attribute</nz-form-label>
            <nz-form-control>
                <nz-select style="width: 200px;" name="columnName1" [(ngModel)]="addAnnotation.columnName" nzAllowClear nzPlaceHolder="Choose">
                    <nz-option *ngFor="let attribute of context.caseAttributes" [nzValue]="attribute.columnName" [nzLabel]="attribute.columnName"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="context && addAnnotation.columnType == 'event_attribute'">
            <nz-form-label>Attribute</nz-form-label>
            <nz-form-control>
                <nz-select style="width: 200px;" name="columnName2" [(ngModel)]="addAnnotation.columnName" nzAllowClear nzPlaceHolder="Choose">
                    <nz-option *ngFor="let attribute of context.eventAttributes" [nzValue]="attribute.columnName" [nzLabel]="attribute.columnName"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="context && addAnnotation.columnType">
            <nz-form-label>Code</nz-form-label>
            <nz-form-control>
                <nz-select style="width: 200px;" name="code" [(ngModel)]="addAnnotation.code" nzAllowClear nzPlaceHolder="Choose">
                    <nz-option *ngFor="let code of codes" [nzValue]="code" [nzLabel]="code"></nz-option>
                </nz-select> 
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <button *ngIf="context" nz-button (click)="doAddAnnotation()" color="primary">Add Annotation</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>