<div class="log-annotation-container">
    <div class="log-annotation-body">
        <h1>{{logName}}</h1>

        <table mat-table [dataSource]="annotations">
            <ng-container matColumnDef="columnType">
                <th mat-header-cell *matHeaderCellDef>Column type</th>
                <td mat-cell *matCellDef="let annotation">{{annotation.columnType}}</td>
                <td mat-footer-cell *matFooterCellDef>
                    <mat-form-field *ngIf="context">
                        <mat-label>Type</mat-label>
                        <mat-select [(value)]='addAnnotation.columnType'>
                            <mat-option value="case_attribute">Case Attribute</mat-option>
                            <mat-option value="event_attribute">Event Attribute</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="columnName">
                <th mat-header-cell *matHeaderCellDef>Column name</th>
                <td mat-cell *matCellDef="let annotation">{{annotation.columnName}}</td>
                <td mat-footer-cell *matFooterCellDef>
                    <mat-form-field *ngIf="context && addAnnotation.columnType == 'case_attribute'">
                        <mat-label>Attribute</mat-label>
                        <mat-select [(value)]='addAnnotation.columnName'>
                            <mat-option *ngFor="let attribute of context.caseAttributes" [value]="attribute">
                                {{attribute}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="context && addAnnotation.columnType == 'event_attribute'">
                        <mat-label>Attribute</mat-label>
                        <mat-select [(value)]='addAnnotation.columnName'>
                            <mat-option *ngFor="let attribute of context.eventAttributes" [value]="attribute">
                                {{attribute}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="categorization">
                <th mat-header-cell *matHeaderCellDef>Code</th>
                <td mat-cell *matCellDef="let annotation">{{annotation.code}}</td>
                <td mat-footer-cell *matFooterCellDef>
                    <mat-form-field *ngIf="context && addAnnotation.columnType">
                        <mat-label>Code</mat-label>
                        <mat-select [(value)]='addAnnotation.code'>
                            <mat-option *ngFor="let code of codes" [value]="code">
                                {{code}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>    
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let annotation">
                    <button mat-icon-button color="warn" (click)="doDeleteAnnotation(annotation.id)"><mat-icon>delete</mat-icon></button>
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <button *ngIf="context" mat-raised-button (click)="doAddAnnotation()" color="primary">Add Annotation</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        </table>
    </div>
</div>