<div class="dashboard">
    <div class="dashboard-conditions">
        <div class="statistics" *ngIf="context">
            <div class="stat-item">
                <div class="value">{{context.numTraces | number}}</div>
                <div class="label">Cases selected</div>
            </div>
            <div class="stat-item">
                <div class="value">{{context.numEvents | number}}</div>
                <div class="label">Events selected</div>
            </div>
        </div>
  
        <div class="actions">
            <app-condition-list [context]="context" [conditions]="conditions"></app-condition-list>
        </div>
        <div class="buttons">
            <button nz-button nzType="primary" (click)="doUpdate()">Update</button>
        </div>
    </div>

    <div class="grid">
        <gridster class="chart" [options]="gridOptions">
            <gridster-item [item]="item" *ngFor="let item of dashboard; index as idx">
                <app-chart
                    #chart
                    [logName]="logName"
                    [context]="context"
                    [conditions]="conditions"

                    [options]="item.options"
                    [measures]="item.measures"
                    [dimensions]="item.dimensions"
                ></app-chart>
                <button (click)="doEdit(idx)">Edit</button>
            </gridster-item>
        </gridster>
        <div class="options">
            <ng-container [ngTemplateOutlet]="optionsTemplate"></ng-container>
        </div>

        <!-- <div class="container"> -->
            

            <!-- <div>
                


                <app-chart
                    #chart
                    [logName]="logName"
                    [context]="context"
                    [conditions]="conditions"

                    [options]="options"
                    [measures]="measures"
                    [dimensions]="dimensions"
                    style="width: 100%; height: 320px; display: block;"
                ></app-chart>

                <button (click)="doEdit()"></button>
            </div> -->
            
        <!-- </div> -->

    </div>
</div>

