<div class="dashboard">
    <div class="dashboard-conditions">
        <div class="edit-buttons">
            <nz-switch nzSize="small" [(ngModel)]="editMode"></nz-switch>

            <button nz-button nz-dropdown [nzDropdownMenu]="menu">Add Widget</button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item (click)="doAddWidget('process_map')">Process Map</li>
                    <li nz-menu-item (click)="doAddWidget('chart')">Chart</li>
                </ul>
            </nz-dropdown-menu>
        </div>
        <div class="statistics" *ngIf="context">
            <div class="stat-item">
                <div class="value">{{context.numTraces | number}}</div>
                <div class="label">Cases selected</div>
            </div>
            <div class="stat-item">
                <div class="value">{{context.numEvents | number}}</div>
                <div class="label">Events selected</div>
            </div>
        </div>
  
        <div class="actions">
            <app-condition-list [context]="context" [conditions]="conditions"></app-condition-list>
        </div>
        <div class="buttons">
            <button nz-button nzType="primary" (click)="doUpdate()">Update</button>
        </div>
    </div>

    <div class="grid" [ngClass]="{ 'edit-mode': editMode }">
        <gridster class="chart" [options]="gridOptions">
            <gridster-item [item]="item" *ngFor="let item of dashboard; index as idx">
                <div class="widget" nz-popover [nzPopoverContent]="editTemplate">
                    <app-widget-host
                        #widget
                        [context]="context"
                        [widget]="item.widget"
                        [conditions]="conditions"
                    >
                    </app-widget-host>
                </div>
                <ng-template #editTemplate>
                    <button (click)="doEdit(idx)">Edit</button>
                </ng-template>
            </gridster-item>
        </gridster>
        <div class="options" *ngIf="editMode">
            <ng-container [ngTemplateOutlet]="optionsTemplate"></ng-container>
        </div>
    </div>
</div>

