<div class="filter-container">
    <div class="filter-info-container" 
        nz-popover
        nzPopoverTitle="Variant selection"
        nzPopoverTrigger="click"
        nzPopoverPlacement="bottomLeft"
        [nzPopoverContent]="contentTemplate">
        <div class="label">Variant selection</div>
        <div class="details">
            {{data.variantIds}}
        </div>
    </div>
    <div class="filter-options">
        <button nz-button nzShape="circle" nzType="dashed" (click)="doDelete()"><i nz-icon nzType="delete"></i></button>
    </div>
</div>

<ng-template #contentTemplate>
    <form nz-form class="cluster-form">
        <nz-form-item>
            <nz-form-label [nzSm]="6" nzRequired nzFor="variantIds">Variant</nz-form-label>
            <nz-form-control [nzSm]="18">
                <nz-select name="variantsIds" nzMode="tags" nzPlaceHolder="Variants" [(ngModel)]="data.variantIds">
                    
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>