<nz-card nzTitle="Cluster selection" 
    nzSize="small"
    [nzExtra]="moreTemplate">
    <span *ngIf="data.clusterIndex">
        Cluster: <b>{{data.clusterIndex}}</b>
    </span>
    <span *ngIf="!data.clusterIndex">
        Cluster selection
    </span>
</nz-card>

<ng-template #moreTemplate>
    <a nz-popover
        nzPopoverTitle="Cluster selection"
        nzPopoverTrigger="click"
        [nzPopoverContent]="contentTemplate">Edit</a>
        
    <nz-divider nzType="vertical"></nz-divider>

    <a (click)="doDelete()">Delete</a>
</ng-template>

<ng-template #contentTemplate>
    <form nz-form class="cluster-form">
        <nz-form-item>
            <nz-form-label [nzSm]="6" nzRequired nzFor="clusterIndex">Cluster</nz-form-label>
            <nz-form-control [nzSm]="18">
                <input nz-input name="clusterIndex" placeholder="Cluster" [(ngModel)]="data.clusterIndex" />
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>