<div class="module">
    <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>Artifacts</nz-breadcrumb-item>
    </nz-breadcrumb>
    
    <div class="inner-content">
      <div class="process-explorer-list">
        <nz-table #basicTable [nzData]="logs">
            <thead>
                <tr>
                    <th style="width: 100%">Log Name</th>
                    <th nzWidth="200px">Creation Date</th>
                    <th nzWidth="260px">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let log of basicTable.data">
                <td>
                    <a [routerLink]="['/artifacts', log.logName]">{{log.logName}}</a>
                </td>
                <td>{{log.creationDate | date:"dd. MMM yyyy HH:mm"}}</td>
                <td>
                    <span *ngIf="log.processing">
                        <nz-spin nzSimple></nz-spin>
                    </span>
                    <span *ngIf="!log.processing">
                        <span *ngIf="log.imported && log.processed"><i nz-icon nzType="check-circle" nzTheme="outline"></i> Imported & Processed</span>
                        <span *ngIf="log.imported && !log.processed">Imported</span>
                        <span *ngIf="!log.imported && !log.processed">Uploaded</span>
                    </span>
                </td>
                </tr>
            </tbody>
        </nz-table>
      </div>
    </div>
</div>