<nz-card nzTitle="Variant Condition" 
    nzSize="small"
    [nzExtra]="moreTemplate">
    <span *ngIf="data.variantId">
        Variant: <b>{{data.clusterIndex}}</b>
    </span>
    <span *ngIf="!data.variantId">
        Variant Condition
    </span>
</nz-card>

<ng-template #moreTemplate>
    <a nz-popover
        nzPopoverTitle="Variant Condition"
        nzPopoverTrigger="click"
        [nzPopoverContent]="contentTemplate">Edit</a>
        
    <nz-divider nzType="vertical"></nz-divider>

    <a (click)="doDelete()">Delete</a>
</ng-template>

<ng-template #contentTemplate>
    <form nz-form class="cluster-form">
        <nz-form-item>
            <nz-form-label [nzSm]="6" nzRequired nzFor="variantId">Variant</nz-form-label>
            <nz-form-control [nzSm]="18">
                <input nz-input name="variantId" placeholder="Variant" [(ngModel)]="data.variantId" />
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>