<nz-card>
    <div *ngIf="insight.format == 'DURATION'">
        <nz-avatar [nzIcon]="icon" [ngStyle]="{ 'background-color': color }" [nzShape]="'square'"></nz-avatar>
         
        <h1>{{insight.title}}</h1>
        <h2 [innerHTML]="insight.subTitle"></h2>
           
        <nz-row [nzGutter]="16">
            <nz-col [nzSpan]="12">
                <nz-statistic
                    [nzValue]="humanizeDuration(insight.averageWithin)"
                    [nzValueStyle]="{ color: '#CF1322' }">
                </nz-statistic>
            </nz-col>
            <nz-col [nzSpan]="12">
                <nz-statistic
                    [nzValue]="humanizeDuration(insight.averageWithout)"
                    [nzPrefix]="'vs. '"
                    [nzValueStyle]="{ color: '#3F8600' }">
                </nz-statistic>
            </nz-col>
        </nz-row>
    </div>
    <div *ngIf="insight.format == 'NUMBER'">
        <nz-avatar [nzIcon]="icon" [ngStyle]="{ 'background-color': color }" [nzShape]="'square'"></nz-avatar>
         
        <h1>{{insight.title}}</h1>
        <h2 [innerHTML]="insight.subTitle"></h2>

        <nz-row [nzGutter]="16">
            <nz-col [nzSpan]="12">
                <nz-statistic
                    [nzValue]="insight.averageWithin | number"
                    [nzValueStyle]="{ color: '#CF1322' }">
                </nz-statistic>
            </nz-col>
            <nz-col [nzSpan]="12">
                <nz-statistic
                    [nzValue]="insight.averageWithout | number"
                    [nzPrefix]="'vs. '"
                    [nzValueStyle]="{ color: '#3F8600' }">
                </nz-statistic>
            </nz-col>
        </nz-row>
    </div>

    <div *ngIf="insight.format == 'DISTRIBUTION'">
        <nz-avatar [nzIcon]="icon" [ngStyle]="{ 'background-color': color }" [nzShape]="'square'"></nz-avatar>
         
        <h1>{{insight.title}}</h1>
        <h2 [innerHTML]="insight.subTitle"></h2>
    </div>
    
    <div style="height: 320px; width: 100%" #chart></div>
</nz-card>