.condition-query-list {
    display: flex;
    align-items: center;
    height: 100%;
}

.condition-query-item {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.filter-buttons {
    margin-left: 10px;
}