<nz-breadcrumb>
    <nz-breadcrumb-item>Home</nz-breadcrumb-item>
    <nz-breadcrumb-item>Log Management</nz-breadcrumb-item>
</nz-breadcrumb>

<nz-layout class="inner-layout">
    <nz-sider nzWidth="200px" nzTheme="light">
        <ul nz-menu nzMode="inline" class="sider-menu">
            <li nz-menu-item [routerLink]="['/logs']" nzSelected>
                <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
                <span>Overview</span>
            </li>
            <li nz-menu-item [routerLink]="['/logs', 'upload']">
                <i nz-icon nzType="upload"></i>
                <span>Upload event log</span>
            </li>
        </ul>
    </nz-sider>
    <nz-content class="inner-content">
        <nz-table #basicTable [nzData]="logs">
            <thead>
                <tr>
                    <th>Log Name</th>
                    <th>Creation Date</th>
                    <th>Status</th>
                    <th>Features</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let log of basicTable.data">
                <td>
                    <a [routerLink]="['/analysis', log.logName]">{{log.logName}}</a>
                </td>
                <td>{{log.creationDate | date:"dd. MMM yyyy HH:mm"}}</td>
                <td>
                    <span *ngIf="log.processing">
                        <nz-spin nzSimple></nz-spin>
                    </span>
                    <span *ngIf="!log.processing">
                        <span *ngIf="!log.errorMessage && log.imported && log.processed"><i nz-icon nzType="check-circle" nzTheme="outline"></i> Imported & Processed</span>
                        <span *ngIf="!log.errorMessage && log.imported && !log.processed">Imported</span>
                        <span *ngIf="!log.errorMessage && !log.imported && !log.processed">Uploaded</span>
                        <span *ngIf="log.errorMessage" class="error"><i nz-icon nzType="close-circle" nzTheme="outline"></i> {{log.errorMessage}}</span>
                    </span>
                </td>
                <td>
                    <span *ngFor="let feature of log.features">{{feature.feature}}</span>
                </td>
                <td>
                    <span *ngIf="log.imported && !log.processed && !log.processing"><a (click)="doProcess(log)">Process</a></span>
                    <span *ngIf="!log.imported && !log.processed && !log.processing"><a (click)="doImport(log)">Import Event Log</a></span>
                    <span *ngIf="log.imported && log.processed">
                        <a nz-dropdown [nzDropdownMenu]="menu">
                            Analysis
                            <i nz-icon nzType="down"></i>
                        </a>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <ul nz-menu nzSelectable>
                                <li nz-menu-item><a (click)="doClustering(log)">Simple Clustering</a></li>
                                <li nz-menu-item><a (click)="doMultiClustering(log)">Multi-Perspective Clustering</a></li>
                            </ul>
                        </nz-dropdown-menu>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-dropdown [nzDropdownMenu]="menu2">
                            Options
                            <i nz-icon nzType="down"></i>
                        </a>
                        <nz-dropdown-menu #menu2="nzDropdownMenu">
                            <ul nz-menu nzSelectable>
                                <li nz-menu-item><a [routerLink]="['/logs/annotations/', log.logName]">Annotate Event Log</a></li>
                                <li nz-menu-item><a [routerLink]="['/models/', log.logName, 'train']">Train Predictive Model</a></li>
                                <li nz-menu-item><a [routerLink]="['/models/', log.logName]">View Predictive Models</a></li>
                            </ul>
                        </nz-dropdown-menu>
                    </span>
                    <span *ngIf="!log.processing">
                        <nz-divider nzType="vertical"></nz-divider>
                        <a nz-popconfirm
                            nzPopconfirmTitle="Are you sure delete this event log?"
                            nzPopconfirmPlacement="bottom"
                            (nzOnConfirm)="doDelete(log)">Delete</a>
                    </span>
                </td>
                </tr>
            </tbody>
        </nz-table>
    </nz-content>
</nz-layout>
