<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <span *ngIf="data.attribute">
                <b>{{data.attribute}}</b> {{data.binaryType}} <b>{{data.values}}</b>
            </span>
            <span *ngIf="!data.attribute">
                Attribute Condition
            </span>
        </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
        <mat-label>Attribute</mat-label>
        <mat-select [(value)]='data.attribute' (selectionChange)="onSelectionChange()">
            <mat-option *ngFor="let attribute of context.caseAttributes" [value]="attribute.columnName">
                {{attribute.columnName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
     <mat-form-field>
        <mat-label>Binary Type</mat-label>
        <mat-select [(value)]='data.binaryType'>
            <mat-option value='EQUAL_TO'>=</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="options.categorical">
        <mat-label>Value</mat-label>
        <mat-select [(value)]='data.values' *ngIf="options.categorical" multiple>
            <mat-option *ngFor="let value of options.values" [value]="value">
                {{value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="!options.categorical">
        <mat-label>Start</mat-label>
        <input matInput [(ngModel)]="data.rangeStart" />
    </mat-form-field>
    <mat-form-field *ngIf="!options.categorical">
        <mat-label>End</mat-label>
        <input matInput [(ngModel)]="data.rangeEnd" />
    </mat-form-field>
</mat-expansion-panel>