nz-breadcrumb {
    margin: 16px 0;
}

.inner-layout {
    padding: 24px 0;
    background: #fff;
}

.sider-menu {
    height: 100%;
}

.inner-content {
    background: #fff;
    padding: 0 24px;
    min-height: 700px;
}

.error {
    color: darkred;
}