<div class="filter-container">
    <div class="filter-info-container" 
        nz-popover
        nzPopoverTitle="Rework selection"
        nzPopoverTrigger="click"
        nzPopoverPlacement="bottomLeft"
        [nzPopoverContent]="contentTemplate">
        <div class="label" *ngIf="!data.activity">Rework selection</div>
        <div class="label" *ngIf="data.activity">{{context.activities[data.activity].name}}</div>
        <div class="details">
            occurs between <b>{{data.min}}</b> and <b>{{data.max}}</b> times per case
        </div>
    </div>
    <div class="filter-options">
        <button nz-button nzShape="circle" nzType="dashed" (click)="doDelete()"><i nz-icon nzType="delete"></i></button>
    </div>
</div>

<ng-template #contentTemplate>
    <form nz-form class="rework-form">
        <nz-form-item>
            <nz-form-label [nzSm]="6" nzRequired nzFor="activity">Activity</nz-form-label>
            <nz-form-control [nzSm]="18" >
                <nz-select name="activity" [(ngModel)]="data.activity" nzPlaceHolder="Choose">
                    <nz-option *ngFor="let activity of context.activities; let i = index" [nzValue]="activity.id" [nzLabel]="activity.name"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" nzRequired nzFor="min">Min occurrence</nz-form-label>
            <nz-form-control [nzSm]="18">
                <input nz-input name="min" placeholder="Min occurrence" [(ngModel)]="data.min" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" nzRequired nzFor="max">Max occurrence</nz-form-label>
            <nz-form-control [nzSm]="18">
                <input nz-input name="max" placeholder="Max occurrence" [(ngModel)]="data.max" />
            </nz-form-control>
        </nz-form-item>

    </form>
</ng-template>