<div class="filter-container">
    <div class="filter-info-container" 
        nz-popover
        nzPopoverTitle="Duration selection"
        nzPopoverTrigger="click"
        nzPopoverPlacement="bottomLeft"
        [nzPopoverContent]="contentTemplate">
        <div class="label" *ngIf="!data.minDuration && !data.maxDuration">Duration</div>
        <div class="label" *ngIf="data.minDuration && !data.maxDuration">Longer or equal than {{data.minDuration}} {{data.unit}}</div>
        <div class="label" *ngIf="!data.minDuration && data.maxDuration">Less or equal than {{data.maxDuration}} {{data.unit}}</div>
        <div class="label" *ngIf="data.minDuration && data.maxDuration">&ge; {{data.minDuration}} {{data.unit}} and &le; {{data.maxDuration}} {{data.unit}}</div>
        
        <div class="details">
            <span *ngIf="data.from > -1">{{context.activities[data.from].name}}</span><span *ngIf="data.from == -1 || data.from == null">Process start</span>
            -
            <span *ngIf="data.to > -2">{{context.activities[data.to].name}}</span><span *ngIf="data.to == -2 || data.to == null">Process end</span>
        </div>
    </div>
    <div class="filter-options">
        <button nz-button nzShape="circle" nzType="dashed" (click)="doDelete()"><i nz-icon nzType="delete"></i></button>
    </div>
</div>

<ng-template #contentTemplate>
    <form nz-form class="duration-form" >
        <nz-form-item>
            <nz-form-label [nzSm]="8" nzFor="from">From first occurrence</nz-form-label>
            <nz-form-control [nzSm]="16">
                <nz-select name="from" [(ngModel)]="data.from" nzPlaceHolder="Process start">
                    <nz-option [nzValue]="-1" [nzLabel]="'Process start'"></nz-option>
                    <nz-option *ngFor="let activity of context.activities" [nzValue]="activity.id" [nzLabel]="activity.name"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="8" nzFor="from">between</nz-form-label>
            <nz-form-control [nzSm]="16">
                <nz-input-number name="minDuration" [(ngModel)]="data.minDuration" [nzMin]="0" [nzStep]="1"></nz-input-number>
                and
                <nz-input-number name="maxDuration" [(ngModel)]="data.maxDuration" [nzMin]="0" [nzStep]="1"></nz-input-number>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="8" nzFor="unit">Unit</nz-form-label>
            <nz-form-control [nzSm]="16">
                <nz-radio-group name="unit" [(ngModel)]="data.unit" [nzSize]="'small'">
                    <label nz-radio-button nzValue="days">Days</label>
                    <label nz-radio-button nzValue="hours">Hours</label>
                    <label nz-radio-button nzValue="minutes">Minutes</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="8" nzFor="to">To last occurrence</nz-form-label>
            <nz-form-control [nzSm]="16">
                <nz-select name="to" [(ngModel)]="data.to" nzPlaceHolder="Process end">
                    <nz-option [nzValue]="-2" [nzLabel]="'Process end'"></nz-option>
                    <nz-option *ngFor="let activity of context.activities" [nzValue]="activity.id" [nzLabel]="activity.name"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>