.logo {
    height: 31px;
    margin: 0 24px 16px 0;
    float: left;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

[nz-menu] {
    line-height: 64px;
}

nz-content {
    padding: 0 50px;
}

nz-footer {
    text-align: center;
}