.app-content {
    height: calc(100vh - 64px);
}

.toolbar-buttons {
    margin-left: 30px;
}

.toolbar-buttons button {
    margin-left: 5px;
    margin-right: 5px;
}

.toolbar-buttons button:last-child {
    margin-right: 0;
}

.toolbar-buttons button:first-child {
    margin-left: 0;
}