<div class="filter-container">
    <div class="filter-info-container" 
        nz-popover
        nzPopoverTitle="Cluster selection"
        nzPopoverTrigger="click"
        nzPopoverPlacement="bottomLeft"
        [nzPopoverContent]="contentTemplate">
        <div class="label">Cluster selection</div>
        <div class="details">
            {{data.clusterIndex}}
        </div>
    </div>
    <div class="filter-options">
        <button nz-button nzShape="circle" nzType="dashed" (click)="doDelete()"><i nz-icon nzType="delete"></i></button>
    </div>
</div>

<ng-template #contentTemplate>
    <form nz-form class="cluster-form">
        <nz-form-item>
            <nz-form-label [nzSm]="6" nzRequired nzFor="clusterIndex">Cluster</nz-form-label>
            <nz-form-control [nzSm]="18">
                <input nz-input name="clusterIndex" placeholder="Cluster" [(ngModel)]="data.clusterIndex" />
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>