<mat-card>
    <mat-card-header>
        <mat-card-title>{{insight.title}}</mat-card-title>
        <mat-card-subtitle [innerHtml]="insight.subTitle"></mat-card-subtitle>
        <mat-icon mat-card-avatar [ngClass]="color">{{icon}}</mat-icon>
    </mat-card-header>

    <p *ngIf="insight.format == 'DURATION'">
        <span>{{humanizeDuration(insight.averageWithin)}}</span> vs. <span>{{humanizeDuration(insight.averageWithout)}}</span>
    </p>
    <p *ngIf="insight.format == 'NUMBER'">
        <span>{{insight.averageWithin | number}}</span> vs. <span>{{insight.averageWithout | number}}</span>
    </p>
    <div *ngIf="insight.format == 'DISTRIBUTION'">
        <canvas baseChart 
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [legend]="'true'"
            [chartType]="'bar'">
        </canvas>
    </div>
</mat-card>