<div class="process-explorer-dashboard">
  <div class="process-explorer-conditions">
    <button mat-raised-button color="primary" (click)="onUpdate()">Update</button>
    <button mat-raised-button [matMenuTriggerFor]="menu">Add Condition</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onAddCondition('path')">Path Condition</button>
      <button mat-menu-item (click)="onAddCondition('attribute')">Attribute Condition</button>
      <button mat-menu-item (click)="onAddCondition('variant')">Variant Condition</button>
    </mat-menu>

    <app-condition-list [context]="context" [conditions]="conditions"></app-condition-list>
  </div>

  <div class="process-explorer-map">
    <mat-card>
      <app-processmap *ngIf="processMap" [data]="processMap"></app-processmap>
    </mat-card>
  </div>

  <div class="process-explorer-insights">
    <app-insight [conditions]="conditions" [logName]="logName"></app-insight>
  </div>
</div>