.module {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "breadcrumb"
        "content";
    height: 100%;
}

nz-breadcrumb {
    grid-area: breadcrumb;
    margin: 16px 0;
}

.inner-content {
    background: #fff;
    padding: 24px;
    grid-area: content;
    overflow: hidden;
}

.process-explorer-dashboard {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "conditions map insights";
    height: 100%;
}

.process-explorer-dashboard > div {
    padding: 15px;
}

.process-explorer-conditions {
    grid-area: conditions;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "statistics"
                         "actions";
    height: 100%;
    overflow: hidden;
}

.process-explorer-conditions .buttons {
    margin-bottom: 10px;
}

.process-explorer-conditions .buttons button {
    margin-left: 5px;
    margin-right: 5px;
}

.process-explorer-conditions .buttons button:first-child {
    margin-left: 0;
}

.process-explorer-conditions .statistics {
    grid-area: statistics;
}

.process-explorer-conditions .actions {
    grid-area: actions;
    height: 100%;
}

.process-explorer-map {
    grid-area: map;
}

.process-explorer-insights {
    grid-area: insights;
    overflow-y: scroll;
}

.process-explorer-recommendations {
    overflow-y: scroll;
}