<div class="module">
<nz-breadcrumb>
    <nz-breadcrumb-item>Home</nz-breadcrumb-item>
    <nz-breadcrumb-item>Analysis</nz-breadcrumb-item>
    <nz-breadcrumb-item>{{logName}}</nz-breadcrumb-item>
</nz-breadcrumb>

<div class="inner-content">
  <div class="process-explorer-dashboard">
    <div class="process-explorer-conditions">
      <div class="statistics">
        <nz-row [nzGutter]="16">
          <nz-col [nzSpan]="12">
              <nz-statistic [nzTitle]="'# Traces'" [nzValue]="context.numTraces | number"></nz-statistic>
          </nz-col>
          <nz-col [nzSpan]="12">
              <nz-statistic [nzTitle]="'# Events'" [nzValue]="context.numEvents | number"></nz-statistic>
          </nz-col>
        </nz-row>
      </div>

      <div class="actions">
        <nz-tabset>
          <nz-tab nzTitle="Filter">
            <div class="buttons">
              <button nz-button nzType="primary" (click)="onUpdate()">Update</button>
              <button nz-button nz-dropdown [nzDropdownMenu]="menu">Add Selection</button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item (click)="onAddCondition('attribute')">Attribute selection</li>
                  <li nz-menu-item (click)="onAddCondition('path')">Process flow selection</li>
                  <li nz-menu-item (click)="onAddCondition('variant')">Variant selection</li>
                  <li nz-menu-item (click)="onAddCondition('cluster')">Cluster selection</li>
                </ul>
              </nz-dropdown-menu>
            </div>

            <app-condition-list [context]="context" [conditions]="conditions"></app-condition-list>
          </nz-tab>
          <nz-tab nzTitle="Recommendations">
            <div class="process-explorer-recommendations">
              <app-recommendation-list [logName]="logName" [conditions]="conditions" (apply)="onApplyRecommendation($event)"></app-recommendation-list>
            </div>
          </nz-tab>
        </nz-tabset>
      </div>
    </div>

    <div class="process-explorer-map">
      <app-processmap [conditions]="conditions" [logName]="logName"></app-processmap>
    </div>

    <div class="process-explorer-insights">
      <app-insight-list [conditions]="conditions" [logName]="logName"></app-insight-list>
    </div>
  </div>
</div>
</div>