<div class="module">
    <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>{{logName}}</nz-breadcrumb-item>
        <nz-breadcrumb-item>Artifacts</nz-breadcrumb-item>
    </nz-breadcrumb>
    
    <div class="inner-content">
        <div class="process-explorer-header">
            <nz-page-header>
                <!--title-->
                <nz-page-header-title>Artifacts Analysis</nz-page-header-title>

                <!--extra-->
                <nz-page-header-extra>
                    <button nz-button nzType="primary" [routerLink]="['/artifacts', 'settings', logName]">Settings</button>
                </nz-page-header-extra>
                  
                <!--content-->
                <nz-page-header-content>
                    <div class="wrap">
                        <div class="content">
                            <div class="content">
                                <p nz-paragraph>
                                    ProcessExplorer can automatically investigate the event log regarding a predefined
                                    set of analysis tasks, such as rework activities, or anomalies.
                                    To configure this analysis for the event log, click <b>Settings</b> on the upper right.
                                </p>
                            </div>
                        </div>
                    </div>
                </nz-page-header-content>
            </nz-page-header>
        </div>

        <div class="process-explorer-artifacts">
            <nz-list [nzDataSource]="artifactResults" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
                <ng-template #item let-item>
                    <nz-list-item [nzActions]="[showCasesAction, showInsightsAction]" [ngClass]="{ 'artifact-selected': artifact === item }">
                        <ng-template #showCasesAction><a (click)="onShowCases(item)"><i nz-icon nzType="zoom-in" nzTheme="outline"></i> show cases</a></ng-template>
                        <ng-template #showInsightsAction><a (click)="onSelectArtifact(item)"><i nz-icon nzType="bulb" nzTheme="outline"></i> show insights</a></ng-template>

                        <nz-progress [nzPercent]="item.numAffectedCases / artifactTotal * 100" [nzFormat]="percentageFormat" nzType="circle" [nzWidth]="32"></nz-progress>

                        <span class="artifact-cases">{{item.numAffectedCases}}</span>
                        <span class="artifact-name">{{item.name}}</span>
                    </nz-list-item>
                </ng-template>
            </nz-list>
        </div>

        <div class="process-explorer-insights">
            <app-insight-list [conditions]="conditions" [context]="context" [logName]="logName"></app-insight-list>
        </div>
    </div>
</div>