<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <span *ngIf="data.conditionType == 'START_END'">
                <span *ngIf="data.start">Starts with <b>{{context.activities[data.start]}}</b>&nbsp;</span>
                <span *ngIf="data.end">Ends with <b>{{context.activities[data.end]}}</b></span>
            </span>
            <span *ngIf="data.conditionType == 'RESPONSE'">
                Eventually followed by
            </span>
        </mat-panel-title>

        <mat-panel-description>
            <span *ngIf="data.conditionType == 'RESPONSE'">
                {{context.activities[data.start]}} --> {{context.activities[data.end]}}
            </span>
        </mat-panel-description>
    </mat-expansion-panel-header>
    
    <mat-form-field>
        <mat-label>Path Type</mat-label>
        <mat-select [(value)]='data.conditionType'>
            <mat-option value='START_END'>Start and End</mat-option>
            <mat-option value='RESPONSE'>Eventually followed by</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Start Activity</mat-label>
        <mat-select [(value)]="data.start">
            <mat-option *ngFor="let activity of context.activities; let i = index" [value]="i">
                {{activity}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>End Activity</mat-label>
        <mat-select [(value)]="data.end">
                <mat-option *ngFor="let activity of context.activities; let i = index" [value]="i">
                    {{activity}}
                </mat-option>
            </mat-select>
    </mat-form-field>
</mat-expansion-panel>